:root {
    color-scheme: light dark;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid;
    border-color: light-dark(black, white);
}

header a {
    color: light-dark(black white);
    padding: .5em;
    border: 2px solid;
    border-color: light-dark(black white);
    border-radius: 1em;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    flex-direction: column;
    width: 100%;
}

.post {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    margin: 1em 0;
    border: 5px solid;
    border-color: light-dark(black, white);
}

.title {
    text-decoration: underline;
}


.content {
    text-indent: 1em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-top: 5px dashed;
    border-color: light-dark(black, white);
}

footer a {
    font-size: larger;
    color: rgb(44, 177, 133);
}

